.ext_fields
  =frm.fields_for :ascue_attr do |ext_f|
    .field
      =ext_f.label 'Количество точек измерения'
      =ext_f.text_field :channel_count
    .field
      =ext_f.label 'Дата проверки с участием АТС'
      =ext_f.text_field :date_of_revision
    .field
      =ext_f.label 'Интервал между проверками'
      =ext_f.text_field :revision_interval
