.ext_fields
  =frm.fields_for :elcounter_attr do |ext_f|
    .field
      =ext_f.label 'Схема соединений:'
      =ext_f.text_field :connection_schema
    .field
      =ext_f.label 'ГОСТ(ы) по учету энергии:'
      =ext_f.text_field :gost
    .field
      =ext_f.label 'Год производства:'
      =ext_f.text_field :year_of_production
