=form_for setup_ext_attr(@meter) do |f|
  .field
    = f.label 'Средство измерения:'
    = f.select :grsi_item_id, GrsiItem.all.collect {|gi| [gi.reestr_name+"\u00B7"+gi.reestr_nmbr+"\u00B7"+gi.reestr_type, gi.id]},{ include_blank: true }
  .field
    = f.label 'Принадлежность узлу:'
    = f.select :assembly_id, unit_tree.map{|a| [("\u00B7"*a[1] + ' ' + a[0].name),a[0].id]}
  .field
    =f.label 'Класс точности:'
    =f.text_field :accuracy_class
  .field
    =f.label 'Серийный номер:'
    =f.text_field :serial_number
  .field
    =f.label 'Дата первичной поверки:'
    =f.text_field :primary_verification_date
  =f.fields_for :voltage_transformer_attr do |ext_f|
    .field
        =ext_f.label 'Коэффициент трансформации'
        =ext_f.text_field :transform_koef
    .field
      =ext_f.label 'Нагрузка номинальная (ВА)'
      =ext_f.text_field :s_nom
    .field
        =ext_f.label 'Нагрузка фактическая (ВА)'
        =ext_f.text_field :s_fact
    .field
        =ext_f.label 'Потери напряжения (%)'
        =ext_f.text_field :voltage_loses
  .actions = f.submit 'Сохранить'

