.meters_choice
  =form_tag 'meters/new', method: :get
    =select_tag(:type, options_for_select([['АИИС КУЭ','ascue'],['Электросчетчик','elcounters'],['Трансформатор напряжения','voltage_transformers']]))
    =submit_tag 'Добавить'